/* Heading */
    .header {
        padding: 5px;
        text-align: center;
        background: #1abc9c;
        color: white;
    }
  
    .header h1 {
        font-size: 40px;
    }

/* Navbar */
    .navbar {
    overflow: hidden;
    background-color: #333;
    }

    /* Navbar links */
    .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    }

    /* Left-aligned link */
    .navbar a.left {
    float: left;
    }

    /* Right-aligned link */
    .navbar a.right {
    float: right;
    }

    /* Change color with hover */
    .navbar a:hover {
    background-color: #ddd;
    color: black;
    }

/* Footer */
    .footer {
    padding: 10px;
    background: #ddd;
    font-size: 12px;
    }

    /* Columns */
    .column {
        float: left;
        width: 50%;
      }
      
    /* Rows */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }