/* Heading */
    .header {
        padding: 5px;
        text-align: center;
        background: #1abc9c;
        color: white;
    }
  
    .header h1 {
        font-size: 40px;
    }

/* Navbar */
    .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
    }

    /* Navbar links */
    .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    }

    /* Left-aligned link */
    .navbar a.left {
    float: left; /* Float a link to the right */
    }

    /* Right-aligned link */
    .navbar a.right {
    float: right; /* Float a link to the right */
    }

    /* Change color with hover */
    .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
    }

/* Footer */
    .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
    }