<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Ben Brixton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
</head>

<body>

    <div class="header">
        <h1>Ben Brixton</h1>
        <p>Mechatronic and Robotic Engineering MEng Student</p>
    </div>

    <div class="navbar">
        <a href="#" class="left">Link</a>
        <a href="#" class="left">Link</a>
        <a href="#" class="left">Link</a>
        <a href="#" class="right">Link</a>
    </div>

    <h1>Content</h1>
    <p>This is the content of my website</p>

</body>

</html>